
  <nav class="navbar navbar-default" style="background-color:#e0336b;padding:0px;">
<div class="row">

  <div class="col-lg-9 col-md-9 col-sm-9">
  
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color:white;font-weight:700">Agile Ticketing System</a>
        </div>
        </div>
     
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="container-fluid">       
        <!-- <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" style="margin-top:8px" type="button" data-toggle="dropdown">{{email}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li style="cursor:pointer"><a (click)="logout()">Log Out</a></li>       
          </ul>
        </div> -->
        <ul class="nav navbar-nav float-xs-right" style="background:transparent;">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle-notifications"
        id="notifications-dropdown-toggle" style="    color: #fff;
        background-color:transparent;" data-toggle="dropdown">
        
        <strong style="color: white;cursor:pointer"><i class="fa fa-user"></i> &nbsp;{{email}} &nbsp; <i class="fa fa-caret-down"></i></strong>
        
        </a>
        <ul class="got-dropdown-menu dropdown-menu dropdown-menu-right" >
        <li class="dropdown-divider"></li>       
        <li><a class="dropdown-item" style="cursor:pointer" (click)="logout()"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
        </ul>
        
        </li>
        
        </ul>
      </div>
   
      </div>
</div>

</nav>